<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Context" connectionString="data source=DALLES-LAPTOP\SQLEXPRESS;initial catalog=GameOfLifeCF;persist security info=True;Integrated Security=SSPI;;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>