<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Context" connectionString="data source=78.73.101.240,1433;initial catalog=GameOfLife;persist security info=True;user id=user;password=abcd1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>